@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f1e7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
/* Triángulo para crear el corte visual */
/* Estilo para el triángulo diagonal */
.clip-triangle {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
@media (max-width: 768px) {
  .lottie-container {
    max-width: 200px;
    margin-top: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .tech-stack img {
    width: 30px;
    height: 30px;
  }
}

